<div class="container">
	<h3>User Administration</h3>
	<table class='table'>
		<tr>
			<th></th>
			<th>ID</th>
			<th>Name</th>
			<th>Username</th>
			<th>Email</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.name %></td>
			<td><%= user.username %></td>
			<td><%= user.email %></td>
		</tr>
	</table>
</div>
